body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5em;
    background-color: silver;
}
h1 {text-align: center}
header {
    background: #002266;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: silver;
    font-size: 3.5em;
    letter-spacing: 0.06em;

}
h2 {
    font-family: Cooper;
    color: darkblue;
    font-size: 20px;
}
article, aside, footer {
    margin-left: 10%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(139, 5, 0, 0.938);
    font-size: x-large;
}
aside {
    font-style: italic;
}

span {
    color: darkblue;
    font-size: 1.5em;
    font-family: Arial;
    font-style: normal;
}

article ul {
    font-size: 1.3em;
    line-height: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    /* color: rgba(139, 5, 0, 0.938); */
}